/* Overall */
body, .mission_text {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  text-align: center;
  font-size: 22px;
  opacity: 0.9;
}

header, .mission_text, .city {
  background-color: black;
}

#mission, #featured, #locations {
  margin: 0 auto;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

logo {
  flex-grow: 1;
  position: absolute;
  left: 10px;
}

nav {
  position: absolute;
  right: 10px;
}

a, a:visited, a:hover, a:active, a:link {
  color: seashell;
  text-decoration: underline;
  padding: 15px;
}

/* Mission */
#mission {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 69px;
  background-image: url("images/img-mission-background.jpg");
  height: 700px;
  max-width: 1200px;
}

.mission_text {
  vertical-align: center;
  text-align: center;
  width: 100%;
}

/* Tea of the Month */

#featured {
  max-width: 1000px;
  margin: 0 auto;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;

  max-height: 500px;
}

#month {
  margin-top: 150px;
}

.text {
  padding: 10px 0;
}

.tea {
  margin: 0 auto;
}

/* Locations */
#locations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("images/img-locations-background.jpg");
  min-height: 500px;
  max-width: 1200px;
}

}

.city {
  display: inline-flex;
  justify-content: center;
  flex-flow: column wrap;
  opacity: 1;
  margin: 0 auto;
  width: 300px;
  padding: 10px;
}

/* Footer */
footer {
  max-height: 200px;
}

#copy {
  text-align: left;
  padding-left: 20px;
}
